In [ ]:
#Q1 ans

In [ ]:
s=("home",[1,2,3.14],8.14,(1,2,"apple"))

In [ ]:
#Q2 ans

In [2]:
var1=''

In [3]:
type(var1)

str

In [4]:
	var2 ='[DS,ML,Python]'

In [5]:
type(var2)

str

In [6]:
var3=['DS','ML','python']

In [7]:
type(var3)

list

In [8]:
var4=1

In [9]:
type(var4)

int

In [ ]:
#Q3-ANS

In [2]:
5/2  # division( /) operatotr used for division   #Q2-ANS

2.5

In [3]:
24%5   # modulus (%) operator used for getting remainder

4

In [4]:
7//5   # floor division(//) result is quotient and digit after the decimal point is removed.

1

In [5]:
4**2 # exopnential operator(**) operator work as exponential

16

In [ ]:
Q4- Ans

In [6]:
l=[1,3,2,4,'sita',8.34,'rita','gita',8.98,7.98] # list of length 10 with its elements and data types

In [ ]:
for i in l :           #Q4-ANS
    print(i)
    print(type(i))

1
<class 'int'>
3
<class 'int'>
2
<class 'int'>
4
<class 'int'>
sita
<class 'str'>
8.34
<class 'float'>
rita
<class 'str'>
gita
<class 'str'>
8.98
<class 'float'>
7.98
<class 'float'>

In [ ]:
 #Q5ANS

In [ ]:
A = int(input("Enter the number A: "))       
B = int(input("Enter the number B: "))             

count = 0
                                                     
while A % B == 0:
    A = A / B
    count += 1

print("Number A is divisible by number B", count, "times.")

In [ ]:
 #Q6-ANS

In [9]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]         
for i in l:
    if i%3==0 :
        print("i is divisible by 3")
else :
    print("i is not divisible by 3")

i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is divisible by 3
i is not divisible by 3

In [ ]:
#Q7ans

In [10]:
# mutable-the term mutable in python refers to an object capacity to modify its value.

In [11]:
l=[69,70,'gt','mt'] # example of mutable

In [12]:
l

[69, 70, 'gt', 'mt']

In [ ]:
# immutable- immutable refers that we can't change its value over time.

In [13]:
x='sumit' # example of immutable

In [14]:
x[1]='k'

TypeError: 'str' object does not support item assignment